@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.login-container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  background-image: url(./alonelibrary.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
